.qc{
  @include base(1px);
}

body{
  @include root-fs($root);
}

h1{
  @include h1($h1);
}

.blockquote {
  @include blockquote(1px, 10rem);
  text-align: center;
  width: 300px;
  height: 130px;
  margin: 150px auto;
  padding: 10px;
}

.blockquote .text{
  @include bq_text($qfont);
  margin: 10px auto;
  line-height: 2.5;
}
