.qc{
  @include base(1px);
}


.blockquote {
  @include blockquote(1px, 10rem);
  text-align: center;
  width: 300px;
  height: 130px;
  margin: 150px auto;
  padding: 10px;
}

.blockquote .text{
  @include bq_text(30px);
  margin: 20px auto;
  line-height: 2.5;
}
