@mixin root-fs($root) {
  font-size: $root;
}

@mixin h1($h1) {
  font-size: $h1;
}

@mixin base($border-width) {
  width: $d-width;
  border-width: $border-width;
  border-style: solid;
  padding: $d-padding;
  border-color: $bg-leaf;
}


@mixin blockquote($border-width, $font-size){
  position: $position-r;
  border-top: solid $border-width $grape;
  border-bottom: solid $border-width $grape;
  &::before, &::after {
    position: $position-a;
    color: $light-grape;
    font-size: $font-size;
    line-height: 0;
  }
  &::before{
    content: $before-text;
    top: 35px;
    left: 30px;
  }
  &::after{
    content: $after-text;
    bottom: -43px;
    right: 30px;
  }
}

@mixin bq_text($qfont){
  position: $position-r;
  font-size: $qfont;
  font-family: $q-fontfamily;
  color: $black;
  font-weight: $font-b;
}
