@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

$r-fontfamily:'Do Hyeon', sans-serif;
$q-fontfamily:'Gamja Flower', cursive;

$root: 10px;
$qfont: 2.5rem;

$h1: 3rem !default;
$h2: 2rem;
$h3: 1.6rem;
$h4: 1.3rem;
$h5: 1rem;
$h6: 0.6rem;

