$d-width: 100%;
$d-height: 100%;
$d-margin: 0 auto;
$d-padding: 0;


$float-r: right;
$float-l: left;


$position-r: relative;
$position-a: absolute;

$before-text: '\201C';
$after-text: '\201D';

$font-b: bold;