a{
  text-decoration: none;
}
nav{
  height: 60px;
  width: 100%;
  .home {
    width: 100%;
    line-height: 1;
    float: left;
    margin-left: 10%;
    margin-top: 5px;
    font-size: 30px;
    a{
      color: #ffffff;
      font-weight: bold;
    }
  }
}

header {
  background-image: url(../image/1574969816177.jpg) !important;
}

.btn{
  font-size: 20px;
  width: 150px;
}

.page-section{
  height: 700px;
}

#content{
  // background: linear-gradient(325deg, rgba(7,0,36,1) 0%, rgba(230,194,251,1) 0%, rgba(116,104,245,1) 100%);
  text-align: center;
}

.start{
  background-color: rgb(72, 66, 128);
  text-align: center;
  padding: 60px 0;

  h2{
    color: #ffffff;
    margin-bottom: 50px;
  }
}

